/* general */
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.clear {
    clear: both;
}

/* start  header */
/* header {
    overflow: hidden;
} */
header .logo{
float: left;
}
header nav {
    float: right;
}
header li {
    list-style: none;
    display: inline-block;
    margin: 5px  20px;
}
header li a{
    text-decoration: none;
    color: rgb(97, 111, 153);
}
header li a:hover{
    color: rgb(204, 122, 122);
}
.sect{
    display: flex;
}
div.photo{
    float: left;
    padding: 100px
}
div.para{
    float: right;
    padding: 100px;
    color: rgb(82, 25, 136);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.vid{
    display:inline-block;
}
audio {
    position: relative;
    /* top: 50%; */
    margin-bottom: 150PX;
    margin-left: 200PX;
}
footer.foot {
    text-align: center;
}
div.photo {
    /* float: left; */
    padding: 100x;
    width: 50%;
    height: 200px;
}
i.fa.fa-facebook {
    cursor: pointer;
}
i.fa.fa-instagram {
    cursor: pointer;
}